

.tetris_cont {
    border: 1px solid black;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board_row {


    display: flex;
    justify-content: space-evenly;
}

.board_cell {
    width: 25px;
    height: 25px;
}